<h3 style="display: flex; justify-content: center;">Thanh toán ví điện tử MoMo</h3>

<div style="display: flex; justify-content: center;">
    <img src="~/Content/themes/images/QR.png"  style="width:150px"/>

</div>
<h3 style="display: flex; justify-content: center;">Tổng tiền cần thanh toán: @String.Format("{0:0,00}", (ViewBag.tt)) đ</h3>